p{
    font-size: 600px;
}
h1{
    color: #D50000;
    font-size: 500px;
}
body{
  text-align: center;
  background: #311B92;
  font-family: cursive;
}
img{
    width: 900px;
    height: 500px;
}